@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
   
    display: flex;
}
.container.text-center {
    padding: 20px;
    background-color: #f3bdf3;
    width: 1000px;
}

.head
{
    background-color:rgb(137, 220, 237);
    /* width: 200px; */
    font-family: 'Satisfy', cursive;
    /* height: 800px; */
  
}
.head header{
    padding: 27px;
    text-align: right;
}
.head header a{
    padding:27px ;
    font-size: 25px;
    text-decoration: none;
    } 


img {
    padding: 10px;
    width: 344px;
}
.col {
    font-weight: bold;
    text-align: center;
}
.container-text-center{
grid-template-columns: auto;
}
.row-cols-auto {
    
    grid-template-rows: auto;
    padding: inherit;
}
